#grid1{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto;
    justify-content: center;
    
}

#img01{
    width: 58%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: end;
    align-self: center;
    margin-right: 8%;
}
#img02{
    width: 37%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    align-self: end;
    margin-bottom: 10px;
    
}
#img03{ 
  
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
    margin-top: 10px;
    width: 46%;
}
#img05{
    width: 50%;
}
#grid2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45vh 45vh;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 5%;
    
}

#img10{
    width: 30vw;
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: end;
    align-self: center;
    margin-right: 11%;
}
#img11{
    width: 32vw;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
  align-self: end;
  margin-bottom: 10px 
    
}
#img12{
  
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: end;
    margin-top: 10px ;
    width: 33vw;
    
}

#hero_especialswdac img {

    height: 90vh;
}
.herodessumwar{
    
    background-image: url(../images2/altacostura/altacostura-swdac2018/portada2_23.jpg);
    background-size: cover;
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    background-position-y: 33%;
    position: relative;
    background-repeat: no-repeat;
}
.herodessumwar h1{
    position: absolute;
    top: 10%;
    text-align: center;
    /* padding-right: 2rem; */
    right: 0;
    bottom: auto;
    width: 40rem;
}
@media (max-width:800px){
    .herodessumwar h1{
        position: absolute;
        top:auto;
        text-align: center;
        /* padding-right: 2rem; */
        right: 0;
        bottom: 32px;
        width: 100%;
    }
    #hero_especialswdac img {

        height: 40vh;
    }
     #img05{
        width: 87vw;
            }
  
    
      #grid1 {
        
        justify-content: center;
        }
   #img01,#img02,#img03,#img10,#img11,#img12{
       width: 59%;

   }
   #grid2{
    grid-template-rows:auto;
   }
    
}
@media (max-width:500px){
    .herodessumwar{
        width: 100%;
        height: 80vh;
    }
}