/********************************************
*********************************************
Estructura de la Web de aquarelle de alta costura 2019
*********************************************
********************************************/
.hero h2{
    color:white;
}


.medium_right{
    display: flex;
    justify-content: flex-end;
    /* background: url(../images/lado2.png); */
    background-size: 36% auto;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 16%;
}

.medium_right img {

    width: auto;

    height: 90vh;

    margin-bottom: 5%;
    margin-right: 5%;

}
/* grid personalizado para alata costura */
#grid{
    display: grid;
    grid-template-areas: "grid-item1 grid-item3"
                         "grid-item2 grid-item3";
    grid-template-columns: 50% 50%;
    grid-template-rows:50vh auto;
    gap: 3rem;
}
#grid img{
    object-fit: cover;
}
#img01 {
    grid-area: grid-item1;
    width: 90%;
    height: 100%;
    justify-self:end;
}
#img02{
    grid-area: grid-item2;
    width: 55%;
    height: auto;
    justify-self:end;
    padding-right: 1rem;
}
#img03{ 
  grid-area: grid-item3;
  width: 70%;
  height: 90%;
  align-self: center;
}
@media (max-width:800px){
    .medium_right{

        justify-content: center;
    }
    #grid{
        grid-template-rows:25vh auto;
    }
    }