* {
	padding: 0;
	margin: 0;
}


 .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
main {
	margin-top:5rem;
}
/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: #2d5f85;
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #1d87d8;
}

.fm-video .vjs-slider {
	background: #2d5f85;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}

.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}

@media screen and (max-width: 800px) {
	main {
		margin-top: 3rem;
	}
}


@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}
	main {
		margin-top: 2rem;
	}
	
}