/**Menu **/
.container{
    max-width: 1440px;
    margin: 0 auto;
}
/**Menu **/
.menu-collapser {
	position: relative;
	width: 100%;
	height: 45px;
	color: black;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	font-family: bebas neue;
	padding: 0;
}
.collapse-button{position:absolute;right:8px;top:50%;width:44px;padding:6px 10px;color:#FFFFFF;font-size:14px;text-align:center;background-color:#0E0E0E;border-radius:2px;cursor:pointer;transform:translate(0, -50%);-o-transform:translate(0, -50%);-ms-transform:translate(0, -50%);-moz-transform:translate(0, -50%);-webkit-transform:translate(0, -50%);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}.collapse-button:hover,.collapse-button:focus{color:#FFF;background-color:#040404}
.collapse-button .icon-bar {
	display: block;
	height: 4px;
	width: 24px;
	margin: 5px 0;
	background-color: #F5F5F5;
	border-radius: 1px;
}
.color-black{
    color: black;
}
header#section-header {
    position: relative;
}
ul.slimmenu{width:100%;margin:0;padding:0;list-style-type:none; position: static;}
ul.slimmenu:before,ul.slimmenu:after{content:'';display:table}
ul.slimmenu:after{clear:both}
ul.slimmenu.collapsed li{display:block;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
ul.slimmenu.collapsed li>ul{position:static;display:none}
ul.slimmenu.collapsed li a{display:block;border-bottom:1px solid rgba(0,0,0,0.075);box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
ul.slimmenu.collapsed li .sub-toggle{height:40px}
ul.slimmenu li{position:static;float:left;display:inline-block;background-color:#AAA}ul.slimmenu li ul{margin:0;list-style-type:none}ul.slimmenu li>ul{position:absolute;left:0;top:100%;z-index:999;display:none;width:100%}ul.slimmenu li>ul>li ul{position:absolute;left:100%;top:0;z-index:999;display:none;width:100%}
ul.slimmenu li a{cursor:pointer;display:block;padding:12px 64px 12px 16px;color:#333;position:relative;z-index:99;font-size:16px;font-weight:400;transition:background-color 0.5s ease-out;-o-transition:background-color 0.5s ease-out;-moz-transition:background-color 0.5s ease-out;-webkit-transition:background-color 0.5s ease-out}ul.slimmenu li a:hover{text-decoration:none;background-color:#999}ul.slimmenu li .sub-toggle{background:none repeat scroll 0 0 rgba(0,0,0,0.075);position:absolute;right:0;top:0;z-index:999;width:48px;height:100%;text-align:center;cursor:pointer;display:none;}ul.slimmenu li .sub-toggle:before{content:'';display:inline-block;height:100%;margin-right:-0.25em;vertical-align:middle}
ul.slimmenu li .sub-toggle>i{display:inline-block;color:#333;font-size:18px;vertical-align:middle}
ul.slimmenu>li{border-left:1px solid #999}
ul.slimmenu>li:first-child,ul.slimmenu>li.has-submenu+li{border-left:0}
ul.slimmenu li ul.oculto {
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: white;
    display: none;
    margin: 0;
    padding: 0;
    z-index: -10;
    transition: all 300ms;
    position: fixed;
}

ul.slimmenu li ul.oculto.abrir {
    display: block;
    z-index:9;
}
ul.oculto.abrir span.inner {
    display: block;
}

ul.oculto span.inner {
    display: none;
    padding: 90px 0px 50px;
    text-align: left;
    width: 100%;
    z-index: -1;
    position: absolute;
    float: none;
    bottom: 140px;
}

#menuprincipal ul.slimmenu li a.cerrar,
#breadcrumb ul.slimmenu li a.cerrar{
    float: right;
    font-size: 40px;
    line-height: 40px;
    padding: 20px 30px;
    display: block;
}

#menuprincipal ul.slimmenu li a.cerrar:hover,
#breadcrumb ul.slimmenu li a.cerrar:hover{
    background-color: #f9f9f4;
    color: #d8b77c;
}

#menuprincipal li ul.oculto span.inner li,
#breadcrumb li ul.oculto span.inner li{
    display: block;
    margin: 0;
    padding: 0 30px;
    border: none;
    background: transparent;
    float: none;
    width: auto;
}
#slide1 {
    max-width: 80%;
    margin: 0 auto;
}
#menuprincipal li ul.oculto span.inner li a,
#breadcrumb li ul.oculto span.inner li a {
    text-align: left;
    display: inline-block;
    background-image: none;
    color: black;
    font-family: dotum;
    font-size: 22px;
    font-style: normal;
    letter-spacing: 0.06em;
    list-style: outside none none;
    margin: 0;
    padding: 10px 20px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 400ms;
}

#menuprincipal li ul.oculto span.inner li a:hover,
#breadcrumb li ul.oculto span.inner li a:hover {
    background-color: #d8b77c;
    color: white;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
    margin: 0;
    padding-left: 25px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/*---desarrollo por iasoftgroup----*/
/*************************
General
**************************/

body {
	background-color: white;
	float: left;
	max-width: none;
	min-width: 300px !important;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

#page {
    font-size: 13px;
    /*line-height: 18px;*/
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    font-family: 'Aller Light';
    font-style: normal;
    font-weight: normal;
}
.section, .region, .zone-wrapper, .zone, .region-inner, 
#region-content, 
#zone-postscript, 
#zone-postscript .region, 
#zone-footer .region, 
#zone-footer .zone, 
#zone-footer, 
#zone-user-wrapper, 
#zone-user-wrapper .region, 
#zone-user-wrapper .zone,
#zone-branding-wrapper, 
#zone-branding-wrapper .region, 
#zone-branding-wrapper .zone,
#zone-content-wrapper,
#zone-content-wrapper .region,
#zone-content-wrapper .zone,
#region-header-first,
#zone-header,
#zone-preface,
#region-preface-first,
#zone-menu,
#region-menu,
#zone-content-wrapper{
    margin: 0;
    min-height: 0;
    padding: 0;
    width: 100%;
}

/*************************
Especificos
**************************/
a, a:link, a:visited{
    color: #000000;
    text-decoration: none;
}
a:hover {
    color: #D6BA79;
    text-decoration: none;
}

/***********************
Inicio
**************************/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Logo de Jenny*/
div#block-block-1 {
    /*float: left;*/
    width: 100%;
    text-align: center;
    margin-bottom:30px;
    margin-top: 30px;
}
/*Carousel*/
.divisorbanner
{
    width: 64%;
    /* margin-left: 15%; */
    position: relative;
    margin: 0 auto;
}

.bx-wrapper {
   /* float: left;
    width: 100%;*/
    margin-bottom: 30px;
}
.bx-wrapper img {
	max-width: 100%;
}


.ultimas {
    margin-top: 0px;
    float: left;
    width: 100%;
}

.ultimas img
{
width: 80%;
margin-left: 10%;
}

div#menuprincipal {
    /* float: left; */
    /* position: static; */
    /* width: 100%; */
    /*margin-bottom: 40px;*/
    clear:both;
}

div#menuprincipal .block-inner {
    margin: 0 auto;
    max-width: 1024px;
    display: block;
}
#menuprincipal ul.slimmenu {
    text-align: center;
}
div#menuprincipal li {
    border: none;
    background: transparent;
    margin: 0 3px;
    padding: 0;
    float: none;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
div#menuprincipal li a {

    font-size: 1rem;
    font-style: normal;
    letter-spacing: 0.06em;
    list-style: outside none none;
    margin: 0;
    padding: 10px 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 400ms;

    color: #767676;
    font-family: raleway;
    font-size: 0.8rem;
    font-weight: bold;

}
div#menuprincipal li.blog {
   /* display: block;*/
}
div#menuprincipal li.blog a {
    font-family: rage italic;
    text-transform: none;
    line-height: 50px;
    font-size: 50px;
}
div#menuprincipal li a:hover, div#menuprincipal li a.active, .not-front div#menuprincipal li a:hover, .not-front div#menuprincipal li a:active {
    color: #d8b77c;
    background: transparent;
}
/*************
not front header
**************/
/*.not-front div#zone-footer-wrapper {
    border-top: 1px solid #D8B77C;
}*/
.not-front #region-branding .region-inner {
    margin: 0 auto;
    max-width: 1024px;
    position: relative;
    padding: 0 20px;
    width: auto;
}
.not-front #block-block-1 img {
    height: 65px !important;
    width: auto !important;
}
.not-front #block-block-1 {
    width: auto;
}
.not-front section#section-content {
    margin-top: 88px;
    float: left;
    position: relative;
}
.not-front #section-header {
    border-bottom: 2px solid #E8E8E8;
    position: fixed;
    z-index: 100;
    top: 0;
    background-color: white;
    left: 0;
}
.not-front div#menuprincipal {
    float: right;
    margin-top: 22px;
    width: auto;
}
.not-front div#menuprincipal li.blog {
    display: inline-block;
}
.not-front div#menuprincipal li a {
    color: #080808;
    font-size: 14px;
    line-height: 16px;
}
.not-front #block-block-1 p {
    margin: 8px 0;
}
.not-front div#menuprincipal li.blog a {
    font-size: 28px;
    line-height: 28px;
}
.not-front #region-content .region-inner {
    max-width: 1024px;
    margin: 0 auto;
    display: block;
    width: auto;
    padding: 0 20px;
}
h1#page-title,
.page-biografia .views-field-title{
    /*color: #000000;
    float: none;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 35px;
    margin: 2% 0;
    padding: 5px 0;
    text-align: left;
    width: 100%;
    font-family:'Aller light'*/
    color: #000000;
    float: none;
    font-family: 'Aller light';
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 17px;
    margin: 1% 0;
    padding: 5px 0;
    text-align: left;
    width: 100%;
}
.contacto h1#page-title{
    margin-top: 35px;
}
/**************
moda sustentable
****************/
h5 {
    font-size: 17px;
}
.node-paginas .field-type-image .field-items,
.node-biografia .field-type-image .field-items {
    margin: 0 auto;
    width: 297px;
}
.node-type-paginas h1#page-title, .node-type-biografia h1#page-title {
    float: right;
    margin: 20px 0;
    text-align: left;
    width: 100%;
}
.node-paginas .field-type-image, .node-biografia .field-type-image {
    float: left;
    margin: 0;
    top: 0;
    max-width: 350px;
    width: 45%;
}
.node .cont{
    float: right;
    margin-bottom: 30px;
    width: 50%;
}
.node-paginas .field-name-body {
float: right;
    height: 420px;
    overflow: auto !important;
    text-align: justify;
    width: 100% !important;
}
.node-biografia .field-name-body {
float: right;
    height: 555px;
    overflow: auto !important;
    text-align: justify;
    width: 100% !important;
}
.jspContainer {
    width: 100% !important;
}
.jspPane {
    padding-right: 25px !important;
    width: auto !important;
}
div#block-system-main {
    float: left;
    width: 100%;
}
.node-type-paginas .bx-wrapper img {
    margin: 0;
    max-width: none;
}
.node-type-paginas.not-front #region-content .region-inner {
    max-width: 1000px;
}
/***************
novias
****************/


.flechaselector
{
float: left;
    background-image: url(../images/bajar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 47%;
    top: 60%;
    transform: translateX(-50%);
}
.vestidosfiesta .flechaselector {
    top: 40%;
    left: 44%;
}
.colecciones .flechaselector {
    left: 50%;
    top: 47%;
}
.novias.not-front section#section-content,
.vestidosfiesta.not-front section#section-content,
.colecciones.not-front section#section-content,
.joyas.not-front section#section-content{
    padding: 0;
    margin: 0;
}

.novias.not-front #region-content .region-inner,
.vestidosfiesta.not-front #region-content .region-inner,
.colecciones.not-front #region-content .region-inner,
.joyas.not-front #region-content .region-inner{
    max-width: none;
    padding: 0;
}

.bloque {
    float: left;
    width: 100%;
    /*padding-top:90px;
    padding-bottom:90px;*/
    
}

.frase
{
width: 80%;
    padding-bottom: 20px;
    font-family: "Aller Light";
    font-size: 23px;
    float: left;
    margin-left: 10%;
    color: #D8B77C;
    font-weight: bold;
}
.frase a {
    display: block;
    float: right;
}
.detallefrase
{
    padding-left: 0px;
    font-family: "Aller Light";
    font-size: 18px;
    color: black;
    text-align: right;
    float: right;
    margin-top: 5px;
}

.divisorespacios
{
    float:left;
    width:100%;
height:100px;

}

.portada img {
    width: 100%;
    height: auto;
}
.bloque1 .inner
{
    /*padding: 20px 5%;*/
    padding: 0px 5%;
    text-align: left;
    vertical-align: middle;
    background-position: 95% bottom;
    background-repeat: no-repeat;
    background-size: 25% auto;
    background-image: url(../images/diseño1.png);
    /*padding-bottom:150px;*/
    text-align:center;
}

.bloque2_2 .bloque
{
padding-bottom:200px;
}

.bloque2_2 .inner
{
    padding: 20px 5%;
    text-align: left;
    vertical-align: middle;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 30% auto;
    background-image: url(../images/diseño1.png);
}

.imagenbloque2
{
margin-top:30px;
}

.bloqueimagen2ok
{
margin-top:30px;
padding:10px;
}

.bloqueimagen2ok img
{
    width:100%;
}


.bloque1 .inner .imagen {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    margin: 0 1%;
}
.bloque1 .inner .imagen img
{
    width: 100%;
    height: auto;
}
.bloque2 .imagen4 img.imagenbloque2 {
    width: 100%;
}
.bloque3 .imagen img
{
    width: 80%;
    margin-left:10%;
    height: auto;
}
.bloque2.bloque {
    /*padding: 25px 0;*/
    padding: 5px 0;
    text-align: center;
     background-position: left 48%;
    background-repeat: no-repeat;
    background-size: 20% auto;
    background-image: url(../images/lado2.png);
    /*padding-bottom:150px;*/
    padding-bottom:0px;
}

.bloque2 .imagen {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

.bloque2 .imagen img {
    width: 80%;
    height: auto;
}

.bloque2 .imagen3 {
    width: 30%;
}
.bloque2 .imagen4 {
    width: 17%;
}

.bloque2 .imagenbloque2 {
    width: 20%;
}

.bloque2 .imagenbloque2 img
{
    width:100%;
}

.bloque2 .imagen4 img {
    display: block;
  /*  margin: 0px 0;*/
   /* padding-top:30px;*/
}
.portada {
    float: left;
    width: 100%;
    position: relative;
}

.portada2 {
    float: left;
    width: 100%;
}

.portada2 img
{
    float: left;
    width: 70%;
    margin-left:15%;
}


.portada4 {
    float: left;
    width: 100%;
}

.portada4 img
{
    float: left;
    width: 80%;
    margin-left:10%;
}

#breadcrumb {
    position: fixed;
    bottom: 60px;
    z-index: 100;
    background-color: #d8b77c;
    left: 0;
}
.block-breadcrumb ul.slimmenu > li {
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    font-family: dotum;
    color: black;
}

.block-breadcrumb ul.slimmenu > li.last {
        padding: 8px 15px;
    background-color: #d8b77c;
    z-index: 99;
    position: relative;
}

.block-breadcrumb ul.slimmenu > li > a:after {content: ">";margin-left: 15px;color: black;display: inline-block;}

.block-breadcrumb ul.slimmenu > li > a {
    color: black;
    line-height: 19px;
    font-size: 19px;
    font-family: dotum;
    padding: 10px 0 10px 15px;
    margin: 0;
    font-weight: bold;
    background-color: #d8b77c;
}

.block-breadcrumb ul.slimmenu > li > a:hover {
    background: #d8b77c;
    color: floralwhite;
}
.novias ul.slimmenu li ul.oculto.abrir {
    position: fixed;
}
.bloque .inner2 {
    /*padding: 20px 5%;*/
    padding: 0px 16%;
}
.inner2 img,
.bloque3_1 .inner .imagen img{
    width: 100%;
    height: auto;
}

.bloque2_2 .imagen2.imagen img
{
    width: 90%;
    margin-left:5%;
    height: auto;
}

.bloque2_4 .inner .imagen img
{
width: 70%;
    height: auto;
}

.bloque2_2 .inner {
    padding: 0;
}

.bloque2_2 .imagen2.imagen {
    width: 65%;
}
.bloque2_4 .inner,
.bloque3_1 .inner{
    padding: 0 20px;
    text-align: center;
    display: block;
}

.bloque2_4 .inner .imagen,
.bloque3_1 .inner .imagen {
    width: 47%;
    display: inline-block;
    margin: 0 1%;
}

.bloque2_4 .inner .imagen.imagen4
{
        background-image: url(../images/diseño2.png);
    padding-bottom: 27%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 70% auto;
}

.bloque3_1 .inner .imagen.imagen1 {
        background-image: url(../images/diseño2.png);
    padding-bottom: 37%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
}


.bloque3_1 .inner .imagen.imagen2
{
    vertical-align: bottom;
}

.bloque2_4 .inner .imagen.imagen5
{
    vertical-align: bottom;
margin-top: 250px;
float: right;
}
.bloque3_2 .inner {
    padding: 0px 5%;
}

.bloque img {
    width: 100%;
    height: auto;
}

.bloque1 .inner .imagen1
{
width:20%;
}


.bloque1 .inner .imagen2
{
width:26%;
}

.bloque3_3 .inner
{
/*    padding: 0 11% 20px;*/
    padding: 0 18%;
}
.bloque3_4 .inner {
    padding: 0 16%;
}
.bloque3_3 .inner .imagen.imagen4 {
    margin: 0 1%;
    width: 46%;
    float: left;
}
.bloque3_3 .inner .imagen.imagen5 {
margin: 0 1%;
width: 41%;
float: left;
padding-top: 130px;
padding-left: 8%;
}
.bloque3_4 .inner .imagen {
    margin: 0 1%;
    width: 98%;
}
.novias h1.page-title,
.vestidosfiesta h1.page-title,
.fiestadet h1.page-title,
.colecciones h1.page-title,
.joyas h1.page-title{
    margin: 0;
    padding: 20px 60px 20px 20px;
    display: none;
    font-size: 19px;
    line-height: 20px;
}
.bloquef1 .inner {
    display: block;
    padding: 0px 10px;
    text-align: center;
    float:left;
    text-align:center;
}

.bloquef1 .inner .imagen1 
{
width: 20%;
float: left;
left: 20px;
margin-left: 28%;
margin-right: 50px;
}

.bloquef1 .inner .imagen2
{
    width:20%;
    float:left;
    margin-top:40px;
}

.bloquef2 .inner {
    display: block;
    padding: 20px;
}


.bloquef2 .imagen3 {
    width: 25%;
    margin-right: 2%;
    display: inline-block;
    vertical-align: middle;
    padding-left:30px;
    padding-right:30px;
}

.bloquef2 .video {
    width: 54%;
    display: inline-block;
    margin-left:15px;
    vertical-align: middle;
}

.bloquef2 .video iframe {
    width: 100%;
    height: 450px;
}
.bloquef2_1 .inner,
.bloquef3_1 .inner{
    display: block;
    padding: 20px;
    vertical-align: middle;
    text-align: center;
}

.bloquef2_1 .inner .texto{
display: inline-block;
width: 13%;
font-family: dotum;
margin-right: 10%;
font-size: 20px;
margin-left: 8%;
vertical-align: middle;
text-align: center;
line-height: 20px;
color:#D8B77C;
}
.bloquef3_1 .inner .texto{
    display: inline-block;
    width: 60%;
    font-family: dotum;
    margin-left: 5%;
    font-size: 18px;
    vertical-align: middle;
    text-align: left;
    line-height: 20px;
}

.bloquef2_1 .inner .imagen
{
    width: 29%;
    display: inline-block;
    vertical-align: middle;    
}

.bloquef2_1 .inner .imagen.imgmod1 
{
width: 23%;

}


.bloquef3_1 .inner .imagen{
    width: 32%;
    display: inline-block;
    vertical-align: middle;
}

.bloquef2_2 .imagen {
    display: block;
    padding: 0 0 0px 0;
    width:90%;
    margin-left:5%;
}
.fiestadet.not-front section#section-content {
    margin-top: 0;
}

.fiestadet .bx-wrapper {
    float: right;
    width: 38.5%;
}

.fiestadet #bx-pager {
    float: left;
    width: 61%;
}

.fiestadet #bx-pager a img {
    width: 100%;
    height: auto;
}

.fiestadet #bx-pager a {
    display: block;
    margin: 0 1% 1%;
    float: left;
    width: 31%;
    position: relative;
}
.fiestadet.not-front #region-content .region-inner {
        max-width: none;
    padding: 20px 20px 0;
}
.fiestadet #bx-pager a .hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    transition: all 300ms;
}

.fiestadet #bx-pager a:hover .hover,.fiestadet #bx-pager a.active .hover {
    opacity: 0.5;
}
.fiestadet #bx-pager a:nth-child(3n+1) {
    clear: left;
}
.bloquef2_3.bloque {
    padding-top: 20px;
}
.facebook-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/***********
colecciones
***************/
.fiestadet .bx-wrapper img {
    max-width: none;
    margin: 0;
}
body.colecciones #section-content {
    background-image: url(../images/bgalpaca.jpg);
}
.portada2 h2,
.slideralpacaparis h2{
    width: 80%;
    margin: 0 10% 30px;
    font-size: 23px;
    line-height: 23px;
    float: left;
    display: block;
    text-align: center;
}
.portada2 h2 a {
    font-size: 20px;
    line-height: 20px;
}

.portada2 h2 a:hover {
    color: black;
    text-shadow: 1px 2px 2px white;
}
.bloque .vid {
    float: left;
    width: 21%;
    margin: 0 2%;
}

.bloque .vid iframe {
    width: 100%;
    height: auto;
}

.bloquevideos1.bloque,.bloquevideos2.bloque {
    max-width: 96%;
    margin: 0 2%;
    display: block;
}
.bloquecol.bloque {
    width: 96%;
    margin: 0 2%;
}

.bloquecol.bloque .coleccion {
    float: left;
    margin: 0 2% 140px;
    width: 29.2%;
}

.bloquecol.bloque  h1 {
    margin: 0 2% 40px;
    color: #d8b77c;
    font-size: 25px;
    line-height: 25px;
}
.pagdet .tit {
    width: 38.5%;
    float: right;
    color: #d8b77c;
    font-size: 18px;
    line-height: 18px;
}

.pagdet {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.burbuja {
    float: left;
    text-align: center;
    width: 60%;
}

.burbuja a {
    width: 7px;
    height: 7px;
    background-color: #d8b77c;
    vertical-align: middle;
    font-size: 0;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
    transition: all 300ms;
}

.burbuja a:hover,
.burbuja a.active{
    background-color: #666434;
}
/**************
contacto
****************/
.form-item, .form-actions {
    float: left;
    width: 100%;
    font-family: aller light;
    margin: 12px 0;
    position: relative;
}
.webform-client-form label {
    color: #1C1C1C;
    margin: 5px 0;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin-bottom: 4px;
    display: block;
}

.form-required {
    color: #f00;
}
.webform-client-form .form-text, .webform-client-form .form-textarea {
border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    box-sizing: border-box;
    font-family: aller light;
    height: auto;
    padding: 5px;
    width: 100%;
}
.webform-client-form .form-text:hover, .webform-client-form .form-textarea:hover, .webform-client-form .form-text:focus, .webform-client-form .form-textarea:focus {
    border-color: #CFB680;
    box-shadow: 0 0 5px #CFB680 inset;
}

#views-form-commerce-cart-form-default .form-actions input, #commerce-checkout-form-checkout .form-submit, #commerce-checkout-form-review .form-submit, .webform-client-form .form-submit {
    background-color: #D9B77E;
    background-image: none;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #131313;
    float: right;
    font-weight: normal;
    margin: 0 10px 20px;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 400ms ease 0s;
    -webkit-transition: all 400ms ease 0s;
}
.webform-client-form .form-submit {
    float: left;
    font-size: 15px;
    line-height: 15px;
    padding: 4px 20px;
}
#views-form-commerce-cart-form-default .form-actions input:hover, #commerce-checkout-form-checkout .form-submit:hover, #commerce-checkout-form-review .form-submit:hover, .webform-client-form .form-submit:hover {
    background-color: #D9B77E;
    color: black;
    transform: rotateX(360deg) scale(1.1);
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -webkit-transform: rotateX(360deg) scale(1.1);
    -ms-transform: rotateX(360deg) scale(1.1);
}
.contacto #block-system-main{
    float: left;
    position: relative;
    width: 50%;
}
#block-block-4 p {
    margin: 0;
}
#block-block-4 {
    background-color: #d8b77c;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    float: right;
    width: 46%;
}
#block-block-4 .block-inner {
    padding: 5px;
}
#block-block-4 iframe {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
#block-views-view-block-puntos-venta-block {
    float: left;
    margin: 20px 0;
    padding: 0;
    width: 100%;
}
.view-view-block-puntos-venta {
    *float: left;
    *width: 920px;
}
#block-views-view-block-puntos-venta-block .block-title {
    color: #323232;
    font-family: Neoretrofill;
    font-size: 23px;
    line-height: 23px;
    margin: 10px 0;
    width: 100%;
}
#block-views-view-block-puntos-venta-block .views-row {
    float: left;
    margin: 2%;
    width: 21%;
    text-align: left;
}
#block-views-view-block-puntos-venta-block .views-row .views-field-title {
      font-family: dotum;
  font-size: 14px;
  margin: 10px 0;
  padding: 6px;
  text-align: center;
}
#block-views-view-block-puntos-venta-block .views-row a {
    color: black;
    text-decoration: none;
}

/******footer***********/
#section-footer{
    float: left;
    /* height: 22px; */
    position: relative;
    width: 100%;
    z-index: 99;
    background-color: white;
    margin-bottom: 20px;
}

#region-footer-first .region-inner {
    margin: 0 auto;
    max-width: 1024px;
    width: auto;
    position: relative;
    padding: 0 20px;
}
#block-block-5 {
    background-color: #F6F6F0;
    color: #232321;
    display: inline-block;
    font-size: 12px;
    margin: 0;
    padding: 2px 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    *display: inline;
    *zoom: 1;
}
#block-block-5 .iasoft img {
    display: inline-block;
    height: auto !important;
    margin-left: 6px;
    opacity: 0.5;
    width: 40px !important;
    *display: inline;
    *zoom: 1;
filter:alpha(opacity=50);
}

/*MENU SECUNDARIO*/
#block-nice-menus-2 {
    float: left;
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}
#block-nice-menus-2 .block-inner {
    padding-left: 105px;
    padding-right: 140px;
}
#block-nice-menus-2 li.first a {
    margin-left: 0;
}
#block-nice-menus-2 ul.nice-menu{
    display: inline-table;
    float: none;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    text-align: center;
}
#block-nice-menus-2 li{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    width: auto;
}
#block-nice-menus-2 li a{
    border-right: 1px solid #d8b77c;
    color: #000000;

    letter-spacing: 0.06em;
    margin: 7px 2px;
    padding: 1px 12px;
    text-transform: uppercase;
    width: auto;


    font-size: 0.6rem;
    letter-spacing: 4px;
    color: #767676;
    font-family: "raleway";
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;

}
#block-nice-menus-2 li.last a {
    border-right: medium none;
    padding-right: 0;
}
#block-nice-menus-2 li a:hover, #block-nice-menus-2 li a.active,
#block-locale-language li a:hover,#block-locale-language li a.active{
    color: #D8B77C;
}
#block-locale-language li a:hover, #block-locale-language li a.active {
    border-bottom: 1px solid #D8B77C;
    color: #2B2B2B;
}
#block-block-2 {
    /* float: right; */
    padding: 0;
    position: absolute;
    right: 20px;
    top: -5px;
    z-index: 10;
}
#block-block-2 .im {
    float: left;
    margin: 0 0 0 20px;
    overflow: hidden;
    position: relative;
}
#block-block-2 .im img {
    transition: all 300ms ease 0s;
    width: auto;
    height: 15px;
    -webkit-transition: all 300ms ease 0s;
}
#block-block-2 .im img:hover, 
.context-contacto #block-block-2 .im.contacto img, 
.context-cart #block-block-2 .im.comprar img,
.page-checkout #block-block-2 .im.comprar img {
    bottom: 0;
    top: auto;
}
/****************Language**************/
#block-locale-language {
float: left;
    width: auto;
    z-index: 10;
    position: absolute;
    left: 20px;
    top: 5px;
}
#block-locale-language .block-inner {

}
#block-locale-language ul {
    float: left;
    padding: 0;
    list-style: none;
    margin: 0;
    width: auto;
}
#block-locale-language li {
    float: left;
    list-style: none outside none;
    width: auto;
}

#block-locale-language li  a,
#block-locale-language li span{
  background-position: right 15px;
  background-repeat: no-repeat;
  color: #2B2B2B;
  display: block;
    font-family: 'Aller Light';
  font-size: 12px;
  margin: 6px 5px 0;
  text-decoration: none;
  width: auto;
}
#block-locale-language li.first a {
    margin-left: 0;
}
#block-locale-language li span.locale-untranslated {
    color: gray;
    text-decoration: line-through;
}
#block-locale-language li.last a,
#block-locale-language li.last span{
    background: none repeat scroll 0 0 transparent;
}
.node#node-gracias .cont {
    width: 100%;
    text-align: center;
}

.node#node-gracias h1#page-title {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
}
/**********************
novias
*************************/
.title-novia{
    color: #D6BA79 ;
}
.page-novias #block-system-main ul {
    padding: 0;
    list-style: none;
}

.page-novias #block-system-main ul li a {
    font-size: 26px;
    line-height: 26px;
    display: block;
    padding: 5px 0;
    margin: 3px 0;
}

span.mmovil {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    background-image: url(../images/movil.png);
    right: 0;
    z-index: 1000;
    background-size: auto 70%;
    background-repeat: no-repeat;
    display: none;
    cursor: pointer;
    background-position: center;
}
span.mmovil.open {
    background-image: url(../images/mcerrar.png);
}

.mitad
{
/*width:50%;
margin-left:25%;*/
}


.slideralpaca
{
    width:50%;
    margin-left:25%;
}

.slideralpaca .bxslider
{
    width:50%;
}

.slideralpacaparis
{
    width:80%;
    margin-left:10%;
}
.slideralpacaparis .bx-wrapper img {
    width: auto;
    max-width: 80%;
    margin-left: 10%;
    display: block;
    margin: 0 auto;
    max-height: 800px;
    height: auto;
}
.colecciones .video {
    float: left;
    width: 100%;
    text-align: center;
}
.joyas .flechaselector {
    left: 42%;
    top: 48%;
}

body.html.not-front.joyas {
    background-color: #e6d7d0;
}

.joyas #slide1 {
    float: right;
    width: 60%;
    margin-right: 5%;
}

.joyas #slide1 .bx-wrapper img,.joyas #slide2 .bx-wrapper img {
    max-width: 100%;
    margin: 0;
}

.joyas #slide2 {
    float: left;
    margin-left: 5%;
    width: 38%;
}

.joyas .bloque1.bloque {
    width: 60%;
    margin-left: 20%;
}

.joyas .bloque1.bloque .imagen1 {
        width: 48%;
    margin-right: 3%;
    vertical-align: middle;
    display: inline-block;
}

.joyas .bloque1.bloque .imagen2 {
    display: inline-block;
    width: 47%;
    vertical-align: middle;
}
.joyas .bloque1.bloque .imagen2 img {
    margin-top: 2%;
}
.joyas #slide3 {
    width: 45%;
    margin-left: 9%;
}
.joyas .bloque1.bloque .imagen2 img.ima1 {
    width: 80%;
    margin-bottom: 3%;
    margin-left: 10%;
}
.colecciones .video iframe {
    width: 60%;
    max-width: 640px;
}
/* posiciones de imagenes */
.position-top{
    object-position: top;
}
.position-center{
    object-position: center;
}
.position-bottom{
    object-position: bottom;
}
/**********************
movil
*************************/
@media screen and (max-width: 970px) {
.menuar div#menuprincipal li a {
    padding: 10px 5px;
}

#block-views-view-block-puntos-venta-block .views-row {
    width: 31%;
}
}
@media screen and (max-width: 900px) {
div#menuprincipal li a {
    font-size: 1rem;
    padding: 10px 15px;
    line-height: 19px;
}

div#menuprincipal li.blog a {
    font-size: 45px;
    line-height: 45px;
}

div#block-block-1 img {
    width: auto !important;
    height: 70px !important;
}

.bloquef2 .video iframe {
    height: 400px;
}
.bloquef2_1 .inner .texto {
    width: 25%;
}
}

@media screen and (max-width: 800px) {
.menuar div#menuprincipal li a {
    padding: 10px 2px;
    font-size: 13px;
}
}
@media screen and (max-width: 750px) {
div#menuprincipal li a {
    font-size: 17px;
    line-height: 17px;
}
.block-breadcrumb ul.slimmenu > li.last {
    font-size: 15px;
    line-height: 15px;
    padding: 13px 13px;
}

.block-breadcrumb ul.slimmenu > li > a {
    font-size: 15px;
    padding: 13px 0 13px 10px;
    line-height: 15px;
}
.divisorespacios {
    height: 60px;
}
.joyas .bloque1.bloque {
    width: 80%;
    margin-left: 10%;
}

.joyas #slide2 {
    width: 55%;
}

.joyas #slide1 {
    width: 65%;
}
.colecciones .video iframe {
    height: 250px;
}
.bloquef1 .inner .imagen1 {
    width: 25%;
    margin-left: 23%;
}

.bloquef1 .inner .imagen2 {
    width: 27%;
}
.bloquef2 .video iframe {
    height: 350px;
}
.bloquef2_1 .inner .texto {
    margin: 0 6% 0 4%;
    width: 30%;
}
.bloque1 .inner .imagen1 {
    width: 25%;
}

.bloque1 .inner .imagen2 {
    width: 30%;
    margin-right: 5%;
}

.bloque1 .inner {background-position: 98% bottom;}

.bloque2 .imagen3 {
    width: 35%;
}

.bloque2 .imagen4 {
    width: 22%;
}
.menuar span.mmovil {
    display: block;
}
.menuar.not-front div#menuprincipal {
    display: none;
}
}



@media screen and (max-width: 700px) {
div#menuprincipal li a {
    padding: 10px;
}
#section-footer {
    height: auto;
}

#block-nice-menus-2 .block-inner {
    padding: 0 0 30px;
}

#block-block-2 {
    top: auto;
    bottom: 0;
    right: auto;
    left: 52%;
}

#block-locale-language {
    top: auto;
    bottom: 6px;
    right: 50%;
    left: auto;
}
.bloque .vid {
    width: 46%;
    margin: 2%;
}

}


@media screen and (max-width: 600px) {
    .menuar.not-front #block-block-1 img {
    height: 50px !important;
}
    .bloquef2 .video iframe {
    height: 300px;
}
    div#menuprincipal li {
    margin: 0 5%;
    width: 90%;
}
ul.slimmenu li ul.oculto.abrir {
    z-index: 100;
}
div#block-block-1 img {
    height: 70px !important;
}
.novias h1.page-title,
.vestidosfiesta h1.page-title,
.fiestadet h1.page-title,
.colecciones h1.page-title,
.joyas h1.page-title{
    display: block;
    background-color: white;
}
.fiestadet h1.page-title {
    display: none;
}
#breadcrumb {
    display: none;
}
span.mmovil {
    display: block;
}
.divisorespacios {
    height: 50px;
}
.joyas #slide3 {
    width: 70%;
    margin-left: 15%;
}
.portada2 h2, .slideralpacaparis h2 {
    font-size: 20px;
    line-height: 20px;
}

.portada2 h2 a {
    font-size: 17px;
    line-height: 18px;
}
.colecciones .video iframe {
    width: 70%;
    height: 240px;
}
.portada4 img {
    width: 90%;
    margin-left: 5%;
}
.slideralpaca {
    width: 60%;
    margin-left: 20%;
}
.bloquef2 .video iframe {
    height: 200px;
}
.frase {
    font-size: 20px;
    line-height: 20px;
}

.detallefrase {
    font-size: 16px;
    line-height: 16px;
}

.bloquef2_1 .inner .texto {
    font-size: 17px;
    line-height: 19px;
}
.bloquef2 .imagen3 {
    padding-right: 5%;
}
.detallefrase {
    text-align: center;
    float: none;
    display: block;
}

.frase {
    text-align: center;
}
.vestidosfiesta .flechaselector {
    top: 30%;
    left: 42%;
}
.frase a {
    width: 100%;
}
.contacto #block-system-main {
    width: 100%;
}

#block-block-4 {
    width: 100%;
}

#block-views-view-block-puntos-venta-block .views-row {
    width: 96%;
}
.node .cont {
    width: 100%;
}

.node-paginas .field-type-image, .node-biografia .field-type-image {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
}
}

@media screen and (max-width: 470px) {
.divisorespacios {
    height: 40px;
}
.joyas #slide1 {
    width: 75%;
}

.joyas #slide2 {
    width: 65%;
}

.joyas .bloque1.bloque {
    width: 90%;
    margin-left: 5%;
}

.joyas #slide3 {
    width: 80%;
    margin-left: 10%;
}

#block-locale-language {
    right: 56%;
}

#block-block-2 {
    left: 43%;
}
.flechaselector {
    width: 20px;
    height: 20px;
}
.portada2 h2, .slideralpacaparis h2 {
    font-size: 18px;
    line-height: 18px;
}
.portada2 h2 a {
    font-size: 15px;
    line-height: 18px;
}
.colecciones .video iframe {
    width: 70%;
    height: 170px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    width: 16px !important;
    height: 16px !important;
    background-size: auto 100% !important;
}

.bloquef1 .inner .imagen1 {
    width: 30%;
    margin-left: 14%;
    margin-right: 10%;
    left: 0;
}

.bloquef1 .inner .imagen2 {
    width: 32%;
}
.bloquef2_1 .inner .texto {
    width: 34%;
    font-size: 16px;
    line-height: 18px;
}
.bloquef2 .video iframe {
    height: 160px;
}
.bloque3_3 .inner {
    padding: 0 10%;
}

.bloque3_4 .inner {
    padding: 0 10%;
}

.bloque2_4 .inner .imagen.imagen4 {
}

.bloque2_4 .inner .imagen img {
    width: 90%;
}

.bloque2_2 .imagen2.imagen img {
    width: 100%;
}

.bloque .inner2 {
    padding: 0 12%;
}

.bloque3 .imagen img {
    width: 90%;
    margin-left: 5%;
}

.bloque1 .inner .imagen1 {
    width: 30%;
}

.bloque1 .inner .imagen2 {
    width: 35%;
    margin-right: 14%;
}
}

@media screen and (max-width: 410px) {
    .burbuja {
    width: 100%;
}

.pagdet .tit {
    width: 100%;
    margin-top: 30px;
}
    .fiestadet #bx-pager {
    width: 100%;
    margin-top: 10px;
}

.fiestadet .bx-wrapper {
    width: 100%;
}
    .bloquef2 .video iframe {
    height: 150px;
}

.bloquef2 .video {
    width: 66%;
}

.bloquef2 .imagen3 {
    width: 30%;
}
 #block-nice-menus-2 li a {
    margin: 7px 0px;
    padding: 1px 6px;
    font-size: 12px;
}
#region-footer-first .region-inner {
    padding: 0 10px;
}
.vestidosfiesta .bloquef2 .imagen3 {
    width: 30%;
    padding-left: 0;
}
.vestidosfiesta .bloquef2 .video {
    width: 61%;
    margin-left: 0;
}
}


