/********************************************
*********************************************
Estilos para toda la pagina de Jenny Duarte
*********************************************
********************************************/
a{
        color: #767676;
        font-family: "raleway";
        text-align: center;
        /* padding: 10px; */
        font-weight: bold;
        text-decoration: none;
}
h1{
    font-family: "raleway";
    font-weight: bold;
    font-size: 2rem;
    text-align: center;  
    letter-spacing: 0.5rem;   
}
h2{
    font-family: "raleway";
    font-weight: bold;
    font-size: 2rem;
    text-align: center;  
    letter-spacing: 0.5rem;   
}


body{
    overflow-x: hidden;
    font-family: "raleway";
}

main img{
    background-image: url(../images/loader.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
}
/*******************************
MAQUETACION GENERAL
*******************************/
/*Nombres Generales del GRID*/
#header{
    grid-area:header;
}

#aside{
    grid-area:aside;
}
/* aside de moda */

#main{
    grid-area:main;
}
.hero{
    grid-area:hero;
    position: relative;
    display: flex;
    justify-content: center;
}
#footer{
    grid-area:footer;
    padding: 1rem 0;
}
#hero_medium{
    display: flex;
    justify-content: center;
}
#hero_medium_portada_coi2009{
    display: flex;
    justify-content: center;
}
#hero_medium_portada_coi2013{
    display: flex;
    justify-content: center;
}
#hero2{
    display: flex;
    justify-content: center;
}
#hero1 {

    display: flex;
    justify-content: center;

}

/*Estilos Generales del GRID*/
#header{
    background:white;
    /* padding:1vh; */
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items:center;
    align-content:center;
    position:relative;
    z-index:1;
    align-self:stretch;
    border-bottom: 3px solid #D6BA79;
    position: fixed;
    width: 100%;
    height: 10vh;
}

#header .logo-image{
    padding: 0;
}
.hero img{
    object-fit: cover;
    width: 100%;
    height: 90vh;
    
    object-position: center;
}
.hero .heronovia{
    object-position: right;
}

#heromedium img{
  width: 78vw;
}
#hero1 img{
    width: auto;
    height: 100vh;
}
#hero2 img{
    
    width: 66vw;
    margin-top: 5%;
    
}
.hero h1{
   

    font-size: 2.5rem;
   position: absolute;
   
    
    bottom: 36px;
    

   width: 100%;
   text-align: center;
   padding: 3px;
   /* background-color: rgba(0,0,0,0.4); */
   color: white;
   /* font-weight: 500; */
}

.hero h2 {
    position: absolute;
    bottom: 4px;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
 }
 
#jdFooterMenu{
    grid-area:foot-1;
}
#jdDevMenu{
    grid-area:foot-2;
}
#jdSocialMenu{
    grid-area:foot-3;
}

#footer{
    display:flex;
}
#jdFooterMenu,#jsFooterIdioma {
    flex-grow: 1;
    justify-content: center;
}
#jdFooterMenu a,#jsFooterIdioma a{
    padding: 0 1rem;
}
#jdFooterMenu a:first-child,#jsFooterIdioma a:first-child {
    margin-right: 1rem;
    border-right: 1px solid #D6BA79;
}
#jdDevMenu{
    flex-grow: 2;
    justify-content: center;
}
#jdDevMenu img{
    margin: 0 .5rem;
}
#jdSocialMenu{
    flex-grow: 1;
    justify-content: space-evenly;
}
.jd-menu-secundario{
    display:flex; 
    align-items: center;
}

/*******************************
MAQUETACION PORTADA
*******************************/
/*Estilo General de Portada */
#aside {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding:10vh 0;
}
#aside {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    height: auto;
    padding:10vh 3rem;
}

#jdPortadaImg {
    height: 80vh;
    width:100%;
    object-fit:cover;
}
#portadamodaimg{
        height: 100%;
    width: 100%;
    object-fit: cover;
}

#jdPHeroImg {
    height: 75vh;
    width:100%;
    object-fit:cover;
}

/*Estilo Menu de Portada */
.jd-vertical-menu{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    width:100%;
}
.jd-vertical-menu a{
    letter-spacing: 5px;
    position:relative;
    text-align: left;
    font-size: .8rem;
    padding: 1rem 0;
}
.jd-vertical-menu a::before{
    width: 3px;
    height: 12px;
    left: -4%;
    top: 13px;
    background-color: #808080;
    transition: all 0.3s;
    content: none;
    display: block;
    position: absolute;
}


/*******************************
COLORES
*******************************/

/*CABECERA PRINCIPAL*/

.hamburger,
.hamburger:focus,
.hamburger.is-active
{
    /* border:2px solid #D8B988 !important; */
}
.hamburger-inner,
.hamburger.is-active  .hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after
{
    background-color: #D8B988 !important;
}
  /*
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: #D8B988;
}*/


/*Fondo del menu en diseño movil*/
.jsk-responsive-menu-wrapper {
    background-color: white;

    border-bottom: 1px solid #767676;
    box-shadow: 1px 1px 1px #767676;
}


.jd-menu a {
    padding: 0px 30px;
    color: #767676 !important;
    letter-spacing: 5px;
    position: relative;
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;
    font-size: 0.8rem;
}
    .jd-menu-secundario a {
        font-size: 0.6rem;
        letter-spacing: 4px;
    }

.jd-menu-secundario a img{
    width:auto;
    height: 15px;
}


/* Change the color of links on hover */
.jd-menu  a:hover {
    /* background-color: #ddd; */
    color:#D6BA79 !important;
}

.jd-menu a.jd-active {
    color:#D6BA79 !important;
}

nav.stroke  a:hover:after {
    width: 100%;
}
nav.stroke a:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #D6BA79;
    height: 2px;
    transition: .5s;
    
}
#jdMainmenu a::after{
    width: 2px;
    height: 12px;
    left: 0px;
    top: 1px;
    background-color: #808080;
    transition: all 0.3s;
    content: "";
    display: block;
    position: absolute;  
}

#jdMainmenu a:first-child::after{
    width: 0;
    height: 0;
    display: none;
}


.jd-menu a.jd-active::before {
    left: -5px;
    top: 2px;
    position: relative;
}  
.panel{
    display: none; 
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    
}
.accordion {
    text-transform: uppercase;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 1rem 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: "raleway";
    font-weight: bold;
  }
  
  .active, .accordion:hover {
    background-color: #cccccc30;
    transition: .5s;
}
  .panel {
    /* display: none; */
    /* background-color: white; */
    overflow: hidden;
  }
  .actualacordeon{
    display: flex;
    flex-direction: column;
}
button.accordion:after {
    content: url(../images/flechaderecha.png);
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    /* content: url(../images/flechaabajo.png); */
    transform: rotate(90deg);
    transition: .5s;
}
@media (max-width:800px){
    #asidemoda h1{
    margin-top:11%;
    }
    .jd-vertical-menu{
       margin:3vh 0 ;
    }
    .jd-vertical-menu a{
        text-align: center;
     }
    #footer{
        flex-wrap: wrap;
    }
    #footer nav {
        width:100%;
    }
    #footer #jdDevMenu{
        margin: .5rem 0;
    }
    #aside{

        padding: calc(60px + 5rem) 2rem 0;
        width: 80%;
        margin: 0 auto; 
    }
   
    
  .hero img{
      
    object-fit: fill;
    height: auto;
  }
  #hero1 img{
      
    width: auto;
    object-fit: cover;
    object-position: top;
    margin-left: 0;
    height: 43vh; 
  }
  #hero2 img{
    object-fit: cover;
    width: 100vw;
    height: auto;
    padding-left: 0;
    padding-right: 0;
  }
   
}

@media (min-width:801px){
    .jd-vertical-menu{
        margin:3vh 0 0;
    }
    .jsk-responsive-menu-wrapper {
        background-color: none;
        border-bottom: none;
        box-shadow: none;
    }

    .portada h1{
        width: 100%;
        text-align: left;
    }
    #aside h1{
        text-align: left;
        width: 100%;
    }
}

@media (min-width:801px) and (max-width:900px) {
    .jd-vertical-menu a {
        letter-spacing: 5px;
        position: relative;
        font-size: 0.8rem;
    }
}

@media (max-width:550px){
    #aside{
        padding-bottom:3rem;
    }
    #header img{
        /* width: 125px !important; */
    }
}

