#grid1{
    display: grid;
    max-width: 70rem;
    margin: 0 auto;
    grid-template-areas: "joyimg01 joyimg02"
    "joyimg01 joyimg03";
    grid-template-columns: 50% 50%;
    grid-template-rows: 45vh 45vh;
    margin-bottom: 5%;
    margin-top: 5%;
    gap: 1rem 1rem;
}
#grid1 img{
    object-fit: cover;

}
#img01{
    grid-area: joyimg01;
    height: 55%;
    align-self: center;
    justify-self: end;
}
#img02{
    grid-area: joyimg02;
    height: 80%;
    width: 65%;
    align-self: end;
    
}
#img03{ 
    grid-area: joyimg03;
    height: 85%;
    width: 75%;
    align-self: start;
}

@media (max-width:800px){
    
     #img05{
        width: 87vw;
            }
  
    
      #grid1 {
        grid-template-rows: 25vh 25vh;
        justify-content: center;
        }
   
    
}