#grid1{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 45vh 45vh;
    margin-bottom: 13%;
    margin-top: 6%;
}

#img01 {
    width: 50%;
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 3;
justify-self: end;
align-self: start;
margin-left: 5%;
}
#img02{
    width: 25%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
    margin-left: 10%;
}
#img03{ 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: start;
    
    width: 30%;
    margin-left: 15%;
}

#img05{
    width: 30vw;

height: 46vw;

align-self: center;
}



@media (max-width:800px){
   
    #img05{
            
        width: 87vw;

        height: auto;
            
            
        }
        #grid1{
            display: grid;
            grid-template-columns: 50vw 50vw;
            grid-template-rows: 25vh 25vh;
            margin-bottom: 10%;
            margin-top: 6%;
        }
        #img01{
            width: 81%;
        }
        #img02{
            width: 50%;
        }
        #img03{
            width: 58%;
        }
        

    }
   


   