#img04 {

    width: 23vw;
    height: 0%;
}
#img11 {
    margin-top: 14%;
    margin-left: 6%;
    width: 26vw;
    height: 0%;
}
#img08 {
    margin-top: 13%;
    width: auto;
    height: 90vh;
}
#hero_medium_portada_coi2009 img{

    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 90vh;
    
}
#hero_medium_portada_coi2009 h1{
    color: #7f7f7f;
    top: 20vh;
    right: 5%;
    width: 40rem;
;}
#hero_medium_portada_coi2013 img{

    object-fit: cover;
    width: 68vw;
    height: auto;
    object-position: center;
    
}
#hero_medium img{

    object-fit: cover;
    width: 50vw;
    height: auto;
    margin-top:5%;
    
}
@media (max-width:800px){
    #hero_medium_portada_coi2009 h1{
        width: 100%;
    text-align: center;
    left: 0;
    top: 80vh;
    background-color: rgba(0,0,0,0.4) ;
    color: white;
    bottom: 0;
    }
#img04, #img08,#img04,#img11{
        
        width: auto;
height:80vh;
        
        
    }
    #hero_medium img{

        object-fit: cover;
    width: 100vw;
    height: auto;
    
    
    padding-left: 0;
    padding-right: 0;
    }
}