/********************************************
*********************************************
Estructura de la Web de pagina tipo Coleccion
*********************************************
********************************************/
#mainWrapper{
    display:grid;
    grid-gap:0;   
    grid-template-areas:
    "header"
    "hero"
    "main"
    "footer";
    grid-template-columns: minmax(0,100vw);
    grid-template-rows:10vh 90vh auto auto;
    grid-auto-columns: 100vw;
    align-items: end;
}




/********************************************
*********************************************
Estructura de la Galeria 
*********************************************
********************************************/

.medium{
    display: flex;
    justify-content: center;
    /* background: url("../images/lado2.png"); */
    /* background-position: left;
    background-size: 32% auto;
    background-repeat: repeat-x; */
}
.img19{
        background: none !important;
}

.medium img{
    width: auto;
    height: 90vh;
    margin-bottom: 5%;
    margin-top: 5%;
}
.doble_medium{
    display: flex;
    justify-content: center;
}

.doble_medium_especial {
     display: flex;
     justify-content: space-evenly;
     height: 90vh;

}
.doble_medium_especial img{
    height:75vh;
    width: auto;
    object-fit: cover;
}
#smallimage,.doble_medium_especial img:nth-child(2){
    align-self: flex-end;
   padding-left: 2rem;
 }
.doble_medium img{
    width: calc(50% - 1rem);
    height: 90vh;
    object-fit: contain;
    margin: 0 1rem;
    object-position: top;
}
/* para quitar los redonditos en la pagina */
.page-principal .bx-wrapper .bx-pager{
    display: none;
}
/* para quitar el margin bottom para el container de colecciones de galeria de imagenes */
.ver-coleccion .medium_grand {
margin: 5rem 0 0;
}
.medium_grand  {
text-align: center;
margin: 5rem auto;
}
/* imagen mas pequeña */
.medium_grand.small img{
    height: 45vh;
}
/* imagen a la izquierda */
.medium_grand.left{
    text-align: left;
}
.medium_grand.left.grand img{
    width: 90%;
}
.medium_grand.right{
    text-align: right;
}
.medium_grand img {
    width: 50%;
    height: 80vh;
    object-fit: cover;
    object-position: top;
}
/* .medium_grand completo en el ancho */
.medium_grand.complet img  {
    width: 100%;
    height: 90vh;
}
/* estilo particular de hero de galeria de fotos  sumac warmi*/
.medium_grand.coleccionsumac1{
    /* width: 70vw; */
}
.medium_grand.coleccionsumac1 img{
    width: 100%;
}
/* container de escalera de 4 */
.colfor4{
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
}
.colfor4 img{
    width: calc(100% / 4);
    height: 45vh;
    object-fit: cover;
    object-position: top;
}
/* escalera descendiente */
.colfor4 img:nth-child(1){
    align-self: flex-start;
}
.colfor4 img:nth-child(2){
    margin-top: 10%;
}
.colfor4 img:nth-child(3){
    margin-top: 20%;
}
.colfor4 img:nth-child(4){
    align-self: flex-end;
}
/* escalera ascendiente */
.colfor4.inversa img:nth-child(1){
    align-self: flex-end;
}
.colfor4.inversa img:nth-child(2){
    margin-top: 20%;
}
.colfor4.inversa img:nth-child(3){
    margin-top: 10%;
}
.colfor4.inversa img:nth-child(4){
    align-self: flex-start;
}
/* padding laterales para la cuadrilla de 4 */
.colfor4 img:nth-child(2),
.colfor4 img:nth-child(3){
    padding: 0 1rem;
}
/* hero colores del h1 y h2 */
.otoinv2015{
color: #fae3d3;
}
.hero .permod2015{
    color:black;
    font-size:2rem;
}
.hero-coi2014{
    display: block;
}
.hero-coi2014 h1{
    
    color: #a89588;
    position: static;
    /* background-color: rgba(0,0,0,0.4); */
}
.hero-cpv2014 h1{
    color: #893f66;
    font-weight: bold;
}
.heropermod2009 h1{
    color:#e92bd2;
}
.heroprimversantfashwee2014 h1{
    color: #375e83;
    width: 75vw;
    font-size: 2rem;
}
.heroprimversantfashwee2014 img{
    width: 100% !important;
    object-position: top !important;
}
.hero .coi2008h1{
    background-color: rgba(0,0,0,0.4);
}
.herethfassho2008 img{
    width: 75vw !important;

 }
.herocpv2012 h1{
    color: #9a3603;
}
.herocpv2010 h1{
    
    left: 5%;
    text-align: left;
    top: 10%;
}
.herootoinv2013 h1{
    color: black;
}
.herodesfethfasshopar2010{
    display: flex;
    width: 100%;
}
.herodesfethfasshopar2010 img{
    width: 50%;
    object-position: top;
}
.herodesfethfasshopar2010 .info-desfile{
    width: 50%;
    background-color: #375e83;
    display: flex;
    justify-content: center;
    align-items: center;
}
.herodesfethfasshopar2010 .info-desfile h1{
    position: static;
    color: black;
}
.heropaspermod2012 h1{
    color: #8ca8da;
    text-align: right;
    padding-right: 2rem;
}
.herootoinv2011 h1{
    top: 15%;
    text-align: left;
    padding-left: 4rem;
    color:black;
    bottom: auto ;
    

}
.herocolaac2019 span{
    font-size: 2rem;
}
.herocolaac2019  img{
    object-position: top;
}
.herosumwar2018 span{
    font-size:2rem;
}
.herosumwar2018 h1{
    top: 15%;
    padding: 4rem;
    bottom: auto;
    text-align: left;
}
.heropreporpar2009 {
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images2/moda/moda-coi2009/27.jpg);
    background-size: cover;
    margin-top: 5%;
    background-position-x: center;
}
.herethfassho2008{
    height: 90vh;
    width: 75vw;
    margin: 0 auto;
    background-image: url(../images2/moda/moda-coi2008/02.jpg);
    background-size: cover;
    background-position-x: center;
}
.herootoinv2015{
    height: 80vh;
    max-width: 80rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(../images2/moda/moda-coi2015/02.jpg);
    background-size: cover;
}
/* efecto de hover zoom para la coleccion */
.container-zoom{
    overflow: hidden;
}
.container-zoom:hover  img{
    transform: scale(1.5);
    transition: transform .5s;
}
/* secciones en particular */
.moda-coi2010 img{
    object-position: top;
}
/* container video */
.contenedor.video{
    position: relative;
}
.contenedor.video p{
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
        font-size:2.5rem;

        font-family: "raleway"
}
/* ****** */
@media (min-width:1440px){
    .medium_grand.coleccionsumac1 img{
        object-position: 0 -33vh;
    }
}
@media (max-width:750px){
    #main img{
        object-position: top;
    }
    /* estilo para la cuadrilla de 4 */
    .colfor4{
        height: auto;
    }
    .colfor4 img{
        height: auto;
        width: calc(50% - 1rem);
        padding: 0 !important;
    }
    .colfor4 img:nth-child(1) {
        margin-bottom: 1rem;
    }
    .colfor4 img:nth-child(2),.colfor4.inversa img:nth-child(2) {
        margin: 0  0 1rem 1rem;
    }
    .colfor4 img:nth-child(3),.colfor4.inversa img:nth-child(3) {
        margin: 0 1rem 0 0;
    }
    .herodesfethfasshopar2010 {
        flex-direction: column;
        
    }
    .herodesfethfasshopar2010 .info-desfile{
        width: 100%;
        padding: 1rem 0;
    }
    .herootoinv2011 h1 {
        padding-left: 1rem !important;
    }
    .herosumwar2018 span{
        font-size: 1rem;
    }
    .herosumwar2018 h1{
        top: auto;
        padding: auto;
        bottom: auto;
        text-align: center;
    }
    .herocpv2010 h1{
    
        left: 0;
        text-align: center;
        top: auto;
        /* bottom: 0 !important; */
    }
    .doble_medium_especial img{
        height: 80vh;
        width: 100%;
    }
    #smallimage{
        padding-left: 0;
    }
 
    .doble_medium{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .doble img:first-child{
        margin-bottom: 5rem;
    }
    .doble_medium_especial {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
   
   }
   
    .doble_medium img{
        width: 100%;
        height: 80vh;
        margin: 0;
        object-position: top;
    }
    .medium img{
        
        width: auto;
        height: 80vh;
    }
    .medium_grand img{
        
        width: 75%;
        height: 100%;
    }
   
  
    .hero h1 {
        font-size: 1rem;
          bottom: 32px;
          /* background-color: rgba(0,0,0,0.4); */
          padding: .5rem 0;
          font-weight: bold;
          
      }
    
      .hero h2 {
          font-size: 93%;
      }
      .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
      #mainWrapper {
          display: grid;
          grid-gap: 0;
          grid-template-areas: "header" "hero" "main" "footer";
          grid-template-columns: minmax(0,100vw);
          grid-template-rows: 10vh auto auto auto;
          grid-auto-columns: 100vw;
          align-items: end;
      }
    
   
    
}

/********************************************
*********************************************
Colores y Sabores
*********************************************
********************************************/
.rightOrnament{
    background-position: 95% bottom;
    background-repeat: no-repeat;
    background-size: 25% auto;
    background-image: url(../images/diseno1.png);
}

.leftOrnament{
    background-position: left 48%;
    background-repeat: no-repeat;
    background-size: 20% auto;
    background-image: url(../images/diseno2.png);
}

.externOrnament{
    background-position: left 48%, 95% bottom;;
    background-repeat: no-repeat;
    background-size: 20% auto,25% auto;
    background-image: url(../images/diseno2.png),url(../images/diseno1.png);
}

.middleOrnament{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 72% auto;
    background-image: url(../images/diseno3.png);  
}

.middleOrnament2{
    background-position: 0% 30%;
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-image: url(../images/diseno4.png); 
    width:70%;
}
.middleOrnament3{
    background-position: 0% 30%;
    background-repeat: no-repeat;
    /*background-size: 35% auto;*/
    background-image: url(../images/diseno6.png); 
    width:70%;
}


@media (max-width:600px){
    .doble img:first-child{
        margin-bottom: 2rem;
    }
}
@media (max-width:500px){
    #main img{
        width: 100% !important;
        height: auto;
    }
    .colfor4 img{
        height: auto;
        width: calc(50% - 1rem);
        padding: 0 !important;
        margin-left: 0  !important;
        margin-right: 0 !important;
        margin-bottom: 2rem !important;
    }
    .bx-wrapper img{
        max-width: 100%;
        margin-left: 0;
    }
    .divisorbanner {
        width: 100%;
        margin-left: 0;
    }
    .bxslider li{
        width: 100% !important;
    }
}