#grid1{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 40vw 22vw;
    justify-items: center;
    margin-bottom: -14%;
    margin-top: 5%;
    
}

#img01 {
        width: 49%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 49%;
}
#img02{
    width: 71%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 24%;
    margin-top: -43%;
}
#img03{
    width: 62%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: start;
    margin-right: 7%;
}
.hero .titlemodacoi2015{
    text-align: left;
    
    bottom: 41%;
    left: 5%;
    background: none;
}
.otoinv2015{
    position: absolute;
    bottom: 36px;
}
.hero .permod2015{
}
@media  (max-width:800px){
    .hero .titlemodacoi2015{
        position: absolute;
    bottom: 36px;
    width: 100%;
    text-align: center;
    padding: 3px;
    left: 12px;
    top: auto;
    /* background-color: rgba(0,0,0,0.4); */
    color: white;
    font-size: 1.3rem;
    }
    .hero .permod2015 {
        color: black;
        font-size: 1rem;
    }
}