
.medium_right  {
    display: flex;
    justify-content: flex-end;
    background: url("../images/lado2.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: left;
    

}
#hero_medium_portada_coi2013 img{
    object-fit: cover;
    width: 68vw;
    height: auto;
    object-position: center;
}
.medium_right img {

    width: auto;
    margin-bottom: 5%;
    margin-right: 19vw;
    float: right;
    height: 90vh;
    object-fit: cover;
    object-position: top;

}

@media (max-width:800px){
    .medium_right{

        align-items: center
    }
    .medium_right img{
        width: 86vw;
        /* margin-right: 7%; */
        margin: 0 auto;
        margin-bottom: 5%;
    }
    #hero_medium_portada_coi2013 img{
        
        width: auto;
        height: 61vh;
        
    }
 
}
