.threeimg{
    display: flex;
    justify-content: center;
}
.threeimg img{
    width: 28vw;
    margin-bottom: 6%;
    
}
#hero_modacoi2008{
    display: flex;
}
#hero_modacoi2008 img{
    
    width: 33%;
 }
 #hero_modacoi2008 h1{
    font-size: 3rem;
    
 }

 @media (max-width:800px){
    #hero_modacoi2008 h1{
        font-size: 1rem;
        
     }
    
    }