#grid1 {
    display: grid;
    grid-template-areas: "grid1img1 grid1img2"
    "grid1img1 grid1img3";
    grid-template-columns: 50% 50%;
    grid-template-rows: 65vh 65vh;
    /* justify-items: center; */
    /* margin-bottom: 20%; */
    max-width: 80rem;
    margin: 0 auto ;
}

#img01 {
    grid-area: grid1img1;
    height:80%;
    align-self: center;
    justify-self: end;
    /* width: 50%; */
    /* justify-self: end; */
    /* align-self: center; */
    /* margin-right: 10px; */
    /* margin-top: 48%; */
}
#img02{
    width: 70%;
    grid-area: grid1img2;
    justify-self: end;
    height: 80%;
    object-fit: cover;
    margin-top:3rem;
    object-position: center 40%;
}
#img03{ 
    grid-area: grid1img3;
    width: 60%;
    object-fit: cover;
    height: 100%;
    object-position:top;
    margin-left:3rem;
}



#grid2{
    display: grid;
    max-width: 80rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 43vh 43vh;
    margin: 0 auto;
    grid-template-areas: "grid2img5 grid2img6"
    "grid2img5 grid2img7";
}
#grid2 img {
    object-fit: cover;
}

#img05 {
    height: 100%;
    width: 100%;
    grid-area:grid2img5;
}
#img06{
    width: 90%;
    height: 80%;
    grid-area:grid2img6;
    margin-left: 2rem;
    
}
#img07{ 
    width:70%;
    height: 100%;
    grid-area:grid2img7;
    justify-self: end;
}
@media (max-width:800px){
    #grid1{
        grid-template-rows: 25vh 25vh;
        /* margin-bottom: 33%; */
        margin: 0 auto;
        justify-content: center;
    }
    #img02{
        margin-top: 0;
    }
    #img03{
        margin-left: 1rem;;
    }
    #grid2{
        grid-template-rows: 25vh 25vh;
        justify-content: center;
        
    }
    #img06{
        margin-left: 1rem;
    }
}