.archivo-novia .image18 img{
    width: 80vw;
}
.archivo-novia .image20 {
/* justify-content: start; */
/* margin-left: 5rem; */
}
.archivo-novia .image20 img{
    width: auto;
}
#image3{

    margin-top: 5%;
}
#image27{

    width: auto;
}
#image28{

    width: auto;
}

.grid1 {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

@media (max-width:800px){
    #image27{width: auto;}
    #image28{width: auto;}
}