/********************************************
*********************************************
Estructura de la Web de pagina tipo Portada
*********************************************
********************************************/
#mainWrapper{
    display:grid;
    grid-gap:0;   
    grid-template-areas:
    "header"
    "aside"
    "main" 
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows:auto;
    height:auto;
}
#mainwrap{
    display:grid;
    grid-gap:0;   
    grid-template-areas: 
    "header header" 
    "aside main" 
    "footer footer";
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 10vh 80vh 10vh;
    transition: .5s;
}
@media (max-width:800px){
    #mainWrapper{
        grid-template-areas:
        "header"
        "aside"
        "main" 
        "footer";
        grid-template-columns: 100vw;
        grid-template-rows:auto;
        height:auto;
    }
    #mainwrap{
        grid-template-areas:
        "header"
        "aside"
        "main" 
        "footer";
        grid-template-columns: 100vw;
        grid-template-rows:auto;
        height:auto;
    }
}
@media (min-width:801px){
    #aside{
        /* background: url("../images/moda/bgtop.png"), url("../images/moda/bgbottom.png"); */
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
    }
    #asidemoda{
        /* background: url("../images/moda/bgtop.png"), url("../images/moda/bgbottom.png"); */
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
        background-size: 15%;
    }

    #mainWrapper{
        grid-template-areas: 
        "header header" 
        "aside main" 
        "footer footer";
        grid-template-columns: 40vw 60vw;
        grid-template-rows:10vh 80vh 10vh;
    }

}
